{% extends 'admin_login.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}

	<div class="cst-full-hs">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-6 login-banner">
					<section class="showcase">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 text-center">

									<img src="{{asset('/img/Logo_Wouigo.jpg')}} " alt="Logo_Wouigo" class="pt-3"/>

									<p class="lead text-center mt-3">Nous aidons les particuliers et entreprises
										<br>
										a faire la visite techique de leurs véhicules
										<br>
										dans les delais et sans tracas.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 ">
					<main>
						<form class="sign_profil" action="{{path('app_dashbord_client')}}" method="POST">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" class="csrf_token">


							<img src="{{asset('/img/Logo_ecriture_bleu_sans_fond.svg')}} " alt="Logo_ecriture_bleu_sans_fond" width="163" class="loginImageCenter d-block" style="margin: 12% 21% auto auto"/>
							<div id="login" class="login" style="margin: 1rem auto;">
								<div class="containe mt-3">
									<div class="row centerlogin">

										<div class="col-12">
											<div class="m-auto text-center">
												<h3 class="cst-fs-15-px text-secondary">Qui être vous?</h3>
											</div>
										</div>

										<div class="col-12 mt-5">
											<div class="m-auto w-50 text-center ">
												<ul class="cst-effect-link cst-list-style-type m-0 p-0 text-center" style="border: 1px solid #3ab5fc;">
													<li class="min-vw-50 m-2 d-inline-block text-left">
														<label for="huey">Particulier</label>
													</li>
													<li class="min-vw-50 m-2 d-inline-block text-end">
														<input type="radio" id="huey" name="drone" class="crt-status" value="particulier">
													</li>
												</ul>
											</div>
										</div>

										<div class="col-12 mt-4">
											<div class="m-auto w-50 text-center">
												<ul class="cst-effect-link cst-list-style-type m-0 p-0 text-center" style="border: 1px solid #3ab5fc;">
													<li class="min-vw-50 m-2 d-inline-block text-left">
														<label for="huey">Entreprise</label>
													</li>
													<li class="min-vw-50 m-2 d-inline-block text-end">
														<input type="radio" id="huey" name="drone" class="crt-status" value="entreprise">
													</li>
												</ul>
											</div>
										</div>

										<div class="col-12 mt-4">
											<div class="m-auto w-50 text-center">
												<ul class="cst-effect-link cst-list-style-type m-0 p-0 text-center" style="border: 1px solid #3ab5fc;">
													<li class="min-vw-50 m-2 d-inline-block text-left">
														<label for="huey">Auxiliaire</label>
													</li>
													<li class="min-vw-50 m-2 d-inline-block text-end">
														<input type="radio" id="huey" name="drone" class="crt-status" value="auxiliaire">
													</li>
												</ul>
											</div>
										</div>

										<div class="col-12 mt-2">
											<div class="input-group loginButton" style="top: 0px;">
												<span class="input-group-btn loginTaille">
												</span>
											</div>
										</div>

										

									</div>

								</div>
							</div>
						</form>
					</main>
				</div>
			</div>
		</div>
	</div>

	


{% endblock %}
