{% extends 'admin_navBar.html.twig' %}

{% block title %}AdminController!{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="container-fluid">
      <div class="row"> 

        <div class="col-9 ">

          <div class="row mt-4 ">
            <div class="col-xl-12 col-sm-12 mb-12">
              <div class="row">
                <div class="col-xl-8 col-sm-6 mb-6">
                  <div class="apropos">
                  <div class="row">
					<div class="col-10">
						 <h2>A PROPOS</h2>
            
                        <p class="m-0">
                        Wouigo est un service en ligne dédié au secteur des tansports. <br>
                        Nous sommes enregistré au Bénin sous la reférence: <br>
                        RCCM : 00000000000000000000000 <br>
                        IFU : 00000000000000000000000 <br>
            
                        <br>
                        Conscient de note responsabilités professionnelles, nous avons souscrit<br>
                        à une assurance Responsabilité Civile Pro sous le contrat: 00000000000000. <br>
                        <br>
                        <br>
            
                        <span class="fw-bolder">Merci de nous faire confiance !</span>
                        </p>
					</div>
						<div class="col-2">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn  button_redure" type="button">
                                        Reduire 
                                    </button>
                                </span>
                            </div>
                                </div>
						</div>
                   
                   
                  </div>
                 </div>
    
                 <div class="col-xl-8 col-sm-6 mb-6 mt-4">
                    <h2 class="medias">Cliquer sur l'un des icônes pour nous suivre sur <br>
                     les réseaux sociaux !</h2>
                     <div>
                      <ul class="v-effect-link">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
        
                     </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
        
        <div class="col-lg-3 notification">
              
        </div>
      </div>
      
	    <!-- Icon Cards-->
      
        
        
		</div>
		<!-- /cards -->
		<h2></h2>
	
	  <!-- /.container-fluid-->
   	</div>
{% endblock %}
