{% extends 'admin_navBar.html.twig' %}

{% block title %}Wouigo|affiliations!
{% endblock %}

{% block body %}
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">

				<div class="col-9 ">

					<div class="row mt-4 ">
						<div class="col-xl-12 col-sm-12 mb-12">
							<div class="row">
								<div class="col-xl-8 col-sm-8 mb-6">
									<div class="apropos">
										<div class="row">
											<div class="col-10">
												<h2>AFFILIATIONS</h2>

												<p class="m-0">
													Wouigo est un service en ligne dédié au secteur des tansports.
													<br>
													Nous sommes enregistré au Bénin sous la reférence:
													<br>
												</p>
											</div>
											<div class="col-2">
												<div class="input-group">
													<span class="input-group-btn">
														<button class="btn  button_redure" type="button">
															Reduire
														</button>
													</span>
												</div>
											</div>
										</div>


									</div>
								</div>

								<div class="col-xl-8 col-sm-8 mb-6 mt-2">
									<div class="card" >
										<div class="card-header">
                                            <div class="row">

                                                <div class="col-10">Message</div>
                                                <div class="col-2">Messag</div>
                                            </div>
										</div>
                                        <div>
										    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quasi neque ad, repudiandae ipsam labore unde nisi. Similique quam sit possimus non qui molestias cum, officiis id praesentium, aut nisi.

                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 notification"></div>
			</div>

			<!-- Icon Cards-->


		</div>
		<!-- /cards -->
		<h2></h2>

		<!-- /.container-fluid-->
	</div>
{% endblock %}
