{% extends 'admin_navBar.html.twig' %}

{% block title %}Dashbord client!
{% endblock %}

{% block body %}
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-9 col-lg-9 col-md-12   col-sm-12 ">

					<div class="row mt-4 ">
						<div class="col-xl-12 col-sm-12 ">
							<div class="row">
								<div class="col-xl-8 col-sm-12 ">
									<div class="apropos mb-4 row">
										<div class="col-6">
											<h2>AFFILIATIONS</h2>
										</div>
										<div class="col-6 text-right">
											<h7>Réduire</h7>
										</div>

										<p class="m-0">
											Retrouvez ici, les détails sur vos affiliations réussiers su WOUIGO.
											<br>
											Vous aimez nos service et avez des ami(e)s qui pourraient être intéressé(e)s?<br>
											Parlez-leur de nous des maintenant!.<br>
										</p>
									</div>

									<div>
										
										<div class="d-none">
											<div class="row">
												<div class="col-3">
													<div class="cadre">
														<h6>Mes véhicules</h6>
														<p>
															22</p>
													</div>
												</div>
												<div class="col-3">
													<div class="cadre">
														<h6>commande à faire</h6>
														<p style="color: #ff0000">
															08</p>
													</div>
		
												</div>
												<div class="col-3">
													<div class="cadre">
														<h6>Commande en cours
														</h6>
														<p style="color: #31f714">12</p>
													</div>
												</div>
												<div class="col-3">
													<div class="cadre">
														<h6>
															Affiliation réussiers</h6>
														<p style="color: blue">00</p>
													</div>
												</div>
											</div>
										</div>

									</div>

									<div>
										<div class="mt-4 d-none" style="    border-radius: 15px;margin: -2px;">
											<div class="row" style="background-color: #eff6ff;">
												<div class="col-8">
													<h3 class="cst-fs-15-px text-secondary"><strong class="cst-fs-21 ">Message 1 </strong></h3>
												</div>
												<div class="col-4 text-right ">
													<input type="button" value="sllslslsslslsl">
												</div>
											</div>
										</div>
									</div>

									<div class="">
										<div class="apropos mb-4  " style="background: #f8fbff !important;">
											<div class="row" style="background-color: #eff6ff;">
												<div class="col-8">
													<h3 class="cst-fs-15-px text-secondary"><strong class="cst-fs-21 ">Message 1 </strong></h3>
												</div>
												<div class="col-4 text-right ">
													<input type="radio" class="form-check-input" id="radio1" style="width: 30px;height: 30px;" name="optradio" checked="checked">
												</div>
											</div>
											<div class="row">
												<div class="col-8">
													<p class="p-2 mt-1"> 
														Retrouvez ici, les détails sur vos affiliation Réussies sur WOUIGO.<br>
														Vous aimez nos service et avez des ami(e)s qui pourraient être intéressé(e)s <br>
														Parlez-leur de nous des maintenant!.
													 </p>
		
												</div>
												<div class="col-4 text-right ">
													
												</div>
											</div>
											<div class="row">
												<div class="col-8">
													
												</div>
												<div class="col-4 text-right  ">
													<span class="input-group-btn float-right">
														<input type="submit" value="Envoyer" class="btn seConnecter" style="font-size: 9px;">
													</span>
												</div>
											</div>
										</div>
	
										<div class="apropos mb-4  " style="background: #f8fbff !important;">
											<div class="row" style="background-color: #eff6ff;">
												<div class="col-8">
													<h3 class="cst-fs-15-px text-secondary"><strong class="cst-fs-21 ">Message 1 </strong></h3>
												</div>
												<div class="col-4 text-right ">
													<input type="radio" class="form-check-input" id="radio1" style="width: 30px;height: 30px;" name="optradio" checked="checked">
												</div>
											</div>
											<div class="row">
												<div class="col-8">
													<p class="p-2 mt-1" > 
														Retrouvez ici, les détails sur vos affiliation Réussies sur WOUIGO.<br>
														Vous aimez nos service et avez des ami(e)s qui pourraient être intéressé(e)s <br>
														Parlez-leur de nous des maintenant!.
													 </p>
		
												</div>
												<div class="col-4 text-right ">
													
												</div>
											</div>
											<div class="row">
												<div class="col-8">
													
												</div>
												<div class="col-4 text-right  ">
													<span class="input-group-btn float-right">
														<input type="submit" value="Envoyer" class="btn seConnecter bg-secondary " style="font-size: 9px;">
													</span>
												</div>
											</div>
										</div>
									</div>

									

									

								</div>

								<div class="col-xl-8 col-sm-12 ">
									
								</div>
								
							</div>
						</div>	
					</div>
				</div>

				<div class="col-lg-3 notification">
					<div class="row mt-4">
						<div class="col-12">
							<div class="mt-4 cardre-notification">
								<h6>FAQ 1</h6>
								<p>Lorem ipsum dolor sit amet consecte tur, adipisi cing elit. Dolor ibus, suscipit magni dignissimos nihil i.</p>
							</div>
						</div>

						<div class="col-12">
							<div class="mt-4 cardre-notification">
								<h6>FAQ 1</h6>
								<p>Lorem ipsum dolor sit amet consecte tur, adipisi cing elit. Dolor ibus, suscipit magni dignissimos nihil i.</p>
							</div>
						</div>

						<div class="col-12">
							<div class="mt-4 cardre-notification">
								<h6>FAQ 1</h6>
								<p>Lorem ipsum dolor sit amet consecte tur, adipisi cing elit. Dolor ibus, suscipit magni dignissimos nihil i.</p>
							</div>
						</div>

						<div class="col-12">
							<div class="mt-4 cardre-notification">
								<h6>FAQ 1</h6>
								<p>Lorem ipsum dolor sit amet consecte tur, adipisi cing elit. Dolor ibus, suscipit magni dignissimos nihil i.</p>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- Icon Cards-->


		</div>
		<!-- /cards -->
		<h2></h2>

		<!-- /.container-fluid-->
	</div>
{% endblock %}
