{% extends 'admin_navBar.html.twig' %}

{% block title %}AdminController!
{% endblock %}

{% block body %}
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">

				<div class="col-xl-9 col-lg-9 col-md-12   col-sm-12 ">

					<div class="row mt-4 ">
						<div class="col-xl-12 col-sm-12 mb-12">
							<div class="row">
								<div class="col-xl-8 col-sm-12 mb-6">
									<div class="apropos">
										<div class="row">
											<div class="col-10">
												<h2>DASHBOARD</h2>

												<p class="m-0">
													Retrouvez ici, le récapitulatif de votre compte Clients WOUIGO.<br>
												</p>

											</div>
											<div class="col-2">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                    <button class="btn  button_redure" type="button">
                                                        Reduire 
                                                    </button>
                                                    </span>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>

								<div class="col-xl-8 col-md-12 col-sm-12 mb-6 mt-4">
									<div class="container row">
										<div class="col-lg-3 col-md-3 col-sm-6 ">
											<div class="card text-white mb-3">
												<div class="card-header text-center">
													<p style="line-height: 23px" class="">
														Mes véhicule
													</p>
												</div>
												<div class="card-body">
													<p class="card-text text-center revenue">05</p>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 ">
											<div class="card text-white mb-3">
												<div class="card-header text-center">
													<p>
														commande<br>
														A faire
													</p>

												</div>
												<div class="card-body">
													<p class="card-text text-center mission">02</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 ">
											<div class="card text-white mb-3">
												<div class="card-header text-center">
													<p>
														commade
														<br>
														en cours
													</p>
												</div>
												<div class="card-body">
													<p class="card-text text-center missionE">04</p>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 ">
											<div class="card text-white mb-3">
												<div class="card-header text-center">
													<p style="line-height: 13px;">
														Affectation
														<br>
														reuissies
													</p>
												</div>
												<div class="card-body">
													<p class="card-text text-center sinistre">12</p>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 notification"></div>
			</div>

			<!-- Icon Cards-->


		</div>
		<!-- /cards -->
		<h2></h2>

		<!-- /.container-fluid-->
	</div>
{% endblock %}
