{% extends 'admin_navBar.html.twig' %}

{% block title %}AdminController!{% endblock %}

{% block body %}
 <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row"> 

        <div class="col-xl-9 col-lg-9 col-md-12   col-sm-12 ">

          <div class="row mt-4 ">
            <div class="col-xl-12 col-sm-12 mb-12">
              <div class="row">
                <div class="col-xl-8 col-sm-12 mb-6">
                  <div class="apropos">
                    <h2>DASHBOARD</h2>
         
                    <p class="m-0">
                      Retrouvez ici, le récapitulatif de votre compte Drive/Chauffeur WOUIGO.<br>
                      Pour vitre prendre vos repères sur votre espace utilisateur, nous vous recommandons <br>
                      de suive le guide d'initialisation à 3 étapes ci-dessous.<br>
                     
                    </p>
                   
                  </div>
                 </div>
    
                 <div class="col-xl-8 col-md-12 col-sm-12 mb-6 mt-4">
                   <div class="container row">
                     <div class="col-lg-3 col-md-3 col-sm-6 ">
                      <div class="card text-white mb-3" >
                        <div class="card-header text-center"> 
                          <p style="line-height: 23px" class="">
                            Revenus
                          </p>
                         </div>
                        <div class="card-body">  
                          <p class="card-text text-center revenue">0</p>
                        </div>
                      </div>
                     </div>
                    
                     <div class="col-lg-3 col-md-3 col-sm-6 ">
                      <div class="card text-white mb-3" >
                        <div class="card-header text-center">
                          <p>
                            Mission <br>
                            Exécutéés
                          </p>
                          
                        </div>
                        <div class="card-body">  
                          <p class="card-text text-center mission">0</p>
                        </div>
                      </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-6 ">
                      <div class="card text-white mb-3" >
                        <div class="card-header text-center">
                          <p>
                            Mission <br>
                            Exécutéés
                          </p>
                        </div>
                        <div class="card-body">  
                          <p class="card-text text-center missionE">0</p>
                        </div>
                      </div>
                     </div>

                     <div class="col-lg-3 col-md-3 col-sm-6 ">
                      <div class="card text-white mb-3" >
                        <div class="card-header text-center">
                          <p style="line-height: 23px">
                            Sinistré
                          </p>
                        </div>
                        <div class="card-body">  
                          <p class="card-text text-center sinistre">0</p>
                        </div>
                      </div>
                     </div>
                   </div>
                </div>

              </div>
            </div>            
          </div>
        </div>
        
        <div class="col-lg-3 notification">
              
        </div>
      </div>
      
	    <!-- Icon Cards-->
      
        
        
		</div>
		<!-- /cards -->
		<h2></h2>
	
	  <!-- /.container-fluid-->
   	</div>
{% endblock %}
