{% extends 'admin_login.html.twig' %}

{% block title %} AdminController!
{% endblock %}

{% block body %}
	<main>
		<div id="login" class="login sign_up_three">
			<div class="containe">
				<div class="row centerlogin">

					<img src="img/Logo_ecriture_bleu_sans_fond.svg" data-retina="true" alt="" width="163" class="loginImageCenter">


					<div class="col-12">
						<label for="Prénom/adresse email" class="logintext">Téléphone principal</label>
						<input type="text" name="" placeholder="+22967000000" class="login_input" id="">
					</div>

					<div class="col-12 mt-2">
						<label for="" class="logintext">Téléphone secondaire</label>
						<input type="password" name="" placeholder="+22967000000" class="login_input" id="">
					</div>

					<div>
						<div class="input-group sign_up_three_button">
							<span class="input-group-btn loginTaille">
								<button class="btn  seConnecter " type="button">
									Se connecter
								</button>
							</span>
						</div>
					</div>

				</div>

			</div>
		</div>
	</main>
{% endblock %}
